
// COLORS
$color-red-light: rgb(241, 162, 162);
$color-red-dark: rgb(124, 11, 11);
$color-green-light: rgb(149, 231, 149);
$color-green: green;
$color-white: white;

// FONTS
$default-font-size: 1.8rem;